body {
  background: linear-gradient(179.4deg, #e18a5f 2.2%, #fce4de 96.2%);
  background-size: cover;
  height: 100vh;
  display: block;
  overflow: hidden;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.weather-app {
  border: 1px solid white;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 60px auto;
  max-width: 600px;
}

header {
  border-bottom: 1px solid #fce4de;
  padding-bottom: 20px;
}

.search-form-input,
.search-form-button {
  padding: 15px 25px;
  border-radius: 5px;
  border-color: transparent;
  font-size: 16px;
}
.search-form-input {
  background-color: #fce4de;
  width: 75%;
}
.search-form-button {
  background-color: #e18a5f;
  color: white;
  margin-left: 5px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.weather-app-city {
  font-size: 50px;
  margin: 0;
  color: #bb624f;
}

.weather-app-details {
  color: gray;
  line-height: 20px;
  font-size: 16px;
}

.weather-app-details strong {
  color: #f4a19a;
}

.weather-app-temperature-container {
  font-weight: normal;
  font-family: "Poppins";
  color: #bb624f;
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
}

.weather-app-unit {
  margin-top: 2px;
  font-size: 28px;
}

footer {
  color: gray;
  border-top: 1px solid #fce4de;
  padding: 30px 10px 10px 10px;
  font-size: 14px;
  text-align: center;
}

a {
  color: #bb624f;
  font-weight: 500;
}
